body{
  margin-top:55px;
  #main_section{
    #list_gags{
      .gag-item{
        .actions{
          .counts{
            .points{

            }
            .comments{

            }
          }
          .actions-in-left{
            .btn{
              margin-right:5px;
              padding-left:14px;
              padding-right:11px;
            }
            .glyphicon{
              color: #999;
              font-size: 20px;
            }
            .btn-like{
            }
            .btn-unlike{

            }
            .btn-comment{

            }
          }
          .actions-in-right{
            .btn-share-facebook{

            }
            .btn-share-twitter{

            }
          }
        }
      }
    }
  }
}
