body{
  margin-top:55px;
  #main_section{
    #list_gags{
      .gag-item{
        max-width: 500px;
        .gag-title{
          font-weight: bolder;
        }
        .gag-media-content{
          border:1px solid #ddd;
          img{
            width:500px;
            display: block;
            max-width: 100%;
            height: auto;
          }
        }
        @import "counter";
        @import "actions";
      }
    }
  }
}
